addict @ file:///home/conda/feedstock_root/build_artifacts/addict_1636818143388/work
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1725551672989/work/certifi
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
contourpy==1.1.1
cycler==0.12.1
Cython==3.1.5
fonttools==4.57.0
idna @ file:///croot/idna_1714398848350/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources==6.4.5
kiwisolver==1.4.7
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
matplotlib==3.7.5
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mmcv-full==1.7.2
mmdet==2.28.2
mmengine-lite @ file:///home/conda/feedstock_root/build_artifacts/mmengine_1741120827714/work
-e git+https://github.com/mozi30/TransVOD_plusplus.git@abcccf311179f899488b77f38c5b327164b118c9#egg=MultiScaleDeformableAttention&subdirectory=../../TransVOD_plusplus/models/ops
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
opencv-python==4.12.0.88
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pillow @ file:///croot/pillow_1721059439630/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
pycocotools==2.0.7
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pyparsing==3.1.4
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.9.0.post0
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1723018227672/work
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1721872957279/work
requests @ file:///croot/requests_1721410876868/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1730592237829/work/dist
scipy==1.10.1
shapely==2.0.7
six==1.17.0
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1704357939450/work
terminaltables==3.1.10
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1727974628237/work
torch==1.12.1
torchvision==0.13.1
tqdm==4.67.1
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
urllib3 @ file:///croot/urllib3_1727769808118/work
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1690387939953/work
zipp==3.20.2
